.navbar {
  background: blue;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: sticky;
  margin-top: 50px;
  top: -20px;
  width: 100%;
}

div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
}
.one {
  background: blue;
  color: white;
}
.two {
  background: green;
  color: #fff;
}
.special {
  background: pink;
  font-size: 20px;
  color: #222;
}
.wide-div {
  background: black;
  height: 100vh;
  width: 100%;
}
